In [4]:

# List data type


List3=["Mango","Apple","Banna","Pineapple","Custered Apple","Strawberry"]
List3

['Mango', 'Apple', 'Banna', 'Pineapple', 'Custered Apple', 'Strawberry']

In [2]:
for fruit in List3:
    if "berry" in fruit:
        print(fruit)

Strawberry

In [3]:
for fruit in List3:
    if 'berry' not in fruit:
        print(fruit)

Mango
Apple
Banna
Pineapple
Custered Apple

In [4]:
List3.append("Balck berry")
List3

['Mango',
 'Apple',
 'Banna',
 'Pineapple',
 'Custered Apple',
 'Strawberry',
 'Balck berry']

In [3]:
List4= []

In [2]:
List5= []

In [5]:
for fruit in List3:
    if 'berry ' in fruit:
        List4.append(fruit)
    else:
        List5.append(fruit)
print(List4,end='')
print(List5,end='')

[]['Mango', 'Apple', 'Banna', 'Pineapple', 'Custered Apple', 'Strawberry']

In [35]:
List4

[]

#####

In [30]:
List5

['Mango',
 'Apple',
 'Banna',
 'Pineapple',
 'Custered Apple',
 'Strawberry',
 'Balck berry']

In [33]:
l1=[2,3,4,5,6]
l2=[]
for num in l1:
    l2.append(num**2)
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

# List comprehensive

In [7]:
# List comprehencive 
l1=[2,3,4,5,6]
l2=[num**2 for num in l1]

print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [8]:
List3

['Mango', 'Apple', 'Banna', 'Pineapple', 'Custered Apple', 'Strawberry']

In [13]:
List6=[ fruit for fruit in List3 
        if 'berry' in fruit]

In [11]:
List6

['Strawberry']

In [14]:
newlist=[fruit for fruit in List3 if 'berry' not in fruit]
newlist

['Mango', 'Apple', 'Banna', 'Pineapple', 'Custered Apple']

In [15]:
List3.index("Mango")

0

In [17]:
List3.index('Apple')

1

In [18]:
List3[2]="Orange"
List3

['Mango', 'Apple', 'Orange', 'Pineapple', 'Custered Apple', 'Strawberry']

# Tuple python data type

In [19]:
name=('abhi','nama','ganya')

In [20]:
name

('abhi', 'nama', 'ganya')

In [24]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
t1=('nama','gama','rama','lisa')
t1

('nama', 'gama', 'rama', 'lisa')

In [27]:
t1[2]

'rama'

In [31]:
t1[2]
t1

('nama', 'gama', 'rama', 'lisa')

In [33]:
type(t1)

tuple

In [34]:
t1.count('lisa')

1

In [39]:
T1=('mango','banana','apple','berry')
T1

('mango', 'banana', 'apple', 'berry')

In [37]:
T1.append('strwaberry')  """" Due to Tuple data type is immutable in nature we can not make changes or we can not add some another data in exist tuple"""

T1

SyntaxError: invalid syntax (615629609.py, line 1)

In [41]:
'mango' in T1

True

In [42]:
t2=(1,2,3,4,5)
t4=(34,56,78,90)
t2+t4

(1, 2, 3, 4, 5, 34, 56, 78, 90)

In [43]:
T1[2]

'apple'

In [45]:
T1[3]

'berry'

In [46]:
#slicing
T1[:3]

('mango', 'banana', 'apple')

In [47]:
T1[2:]

('apple', 'berry')

In [50]:
#Negative indexing
T1[-1:]

('berry',)

In [51]:
T1[-3:]

('banana', 'apple', 'berry')

In [52]:
T1

('mango', 'banana', 'apple', 'berry')

In [53]:
# new tuple
tutu=tuple(range(1,31))

In [54]:
print(tutu,end=' ')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)

In [56]:
tutu[::4]

(1, 5, 9, 13, 17, 21, 25, 29)

In [57]:
tutu[2:27:4]# [start:end:increment or decrement]

(3, 7, 11, 15, 19, 23, 27)

In [58]:
tutu[1:5:2]

(2, 4)

In [62]:
# for loop on tuple

for num in tutu:
    if num%2:
        print(num,end=' ,')

1 ,3 ,5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,21 ,23 ,25 ,27 ,29 ,

In [68]:
for num in tutu:
    if num>20:
        print(num,end=' ,')

21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30 ,

In [69]:
for i in tutu:
    if i<20:
        print(i,end=' ,')

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,

# Python Dictionary Data type

In [21]:
# dictionary data type will be not allows the duplicate values
# the data in dictionary will be in key:value pair
# the dictionary data type will be mutable in nature or we can update the values of dictionary

capital_dict={'India':'Delhi','England':'London','Nepal':'Kathmandu'} # in dictionary data type the data will be store in {} 
capital_dict                                                   # in above dictionary there is the data of country with there capitals

{'India': 'Delhi', 'England': 'London', 'Nepal': 'Kathmandu'}

In [22]:
type(capital_dict) # this provide us the type of particular dictionary

dict

In [23]:
dir(dict) # using this command we can find that how many functions or method we can perform on that

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
# access the element of dictionary
capital_dict['India']

'Delhi'

In [27]:
capital_dict['Nepal']

'Kathmandu'

In [28]:
# keys()this command will gives us the all keys of a particular dictionary
keys=capital_dict.keys()
keys

dict_keys(['India', 'England', 'Nepal'])

In [29]:
capital_dict.keys() # we can also use this then it will provide us the list of keys

dict_keys(['India', 'England', 'Nepal'])

In [30]:
# values() this command will provide us the  all values of a particular dictionary
capital_dict.values()

dict_values(['Delhi', 'London', 'Kathmandu'])

In [32]:
# this command will gives us the all info of particular dictionary items()
capital_dict.items()

dict_items([('India', 'Delhi'), ('England', 'London'), ('Nepal', 'Kathmandu')])

In [39]:
# this command will update some values of dictionary update()
capital_dict.update({"India":"mumbai"})
capital_dict.update()

In [40]:
capital_dict

{'India': 'mumbai', 'England': 'London', 'Nepal': 'Kathmandu'}

In [41]:
add_capital={'india':'nananu'}
capital_dict.update(add_capital) # in this way we can also add the another dictionary key : values in one another

In [42]:
capital_dict

{'India': 'mumbai',
 'England': 'London',
 'Nepal': 'Kathmandu',
 'india': 'nananu'}

In [43]:
# the pop( ) using this function we can remove the key values
capital_dict.pop('india')

'nananu'

In [44]:
capital_dict

{'India': 'mumbai', 'England': 'London', 'Nepal': 'Kathmandu'}

In [46]:
capital_dict['India']='Bombay' # this command will update the values of dictionary

In [47]:
capital_dict

{'India': 'Bombay', 'England': 'London', 'Nepal': 'Kathmandu'}

In [48]:
# popitem ( ) this function will removes by default last key value pair in this funn there is no need to give the keys
capital_dict.popitem()

('Nepal', 'Kathmandu')

In [49]:
capital_dict

{'India': 'Bombay', 'England': 'London'}

In [62]:
# dictionary values can be of different data type
# we can give the list of string or a tuple of no. or single number or dictionary also we can pass to the dictionary
mylist=["mango","orange","banana","strwaberry","mulberry","blackberry"]

In [63]:
mytuple=(20,30,40,50,60,70)

In [64]:
my_dict={'A':mylist,'B':mytuple,'C':capital_dict}

In [65]:
my_dict

{'A': ['mango', 'orange', 'banana', 'strwaberry', 'mulberry', 'blackberry'],
 'B': (20, 30, 40, 50, 60, 70),
 'C': {'India': 'Bombay', 'England': 'London'}}

In [66]:
my_dict['A']

['mango', 'orange', 'banana', 'strwaberry', 'mulberry', 'blackberry']

In [67]:
my_dict['B']

(20, 30, 40, 50, 60, 70)

In [68]:
my_dict['C']

{'India': 'Bombay', 'England': 'London'}

In [70]:
my_dict['A'][3] # in this way we can access the list data type from the my_dict

'strwaberry'

In [71]:
my_dict['C']['India'] # in this way we can access the dictionary by giving the key name

'Bombay'

In [73]:
my_dict['B'][4] # in this way we can access the tuple of my_dict

60